* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
	font-family: 'Karla', sans-serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(204, 43%, 93%);
	position: relative;
}
main {
	display: flex;
	flex-wrap: wrap;
	max-width: 660px;
	border-radius: 10px;
	overflow: hidden;
}	
main .box {
	padding: 40px;
}
main  .join {
	flex-basis: 100%;
	background-color: #ffffff;
}
main  .join h2 {
	margin: 0 0 25px;
	color: hsl(179, 62%, 43%);
	font-size: 20px;
}
main  .join span {
	color: hsl(71, 73%, 54%);
	font-size: 18px;
	font-weight: bold;
}
main  .join p {
	color: hsl(218, 22%, 67%);
	line-height: 1.7;
	max-width: 580px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
}
main  .subscription {
	flex-basis: 50%;
	background-color: hsl(179, 62%, 43%);
}
main  .subscription h2 {
	margin: 0 0 25px;
	color: white;
	font-size: 20px;
}
main  .subscription .price-container {
	color: #ffffff71;
    display: flex;
    align-items: center;
	margin-bottom: 6px;
}
main  .subscription .price-container .price {
	color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    margin-right: 15px;
}
main  .subscription span {
	color: #ffffff;
}
main  .subscription a {
	display: block;
	margin: 35px auto 0;
	background-color: hsl(71, 73%, 54%);
	text-decoration: none;
	color: white;
	padding: 15px 96px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 3px 4px 0px rgb(0 0 0 / 10%);
	transition: .3s;
}
main  .subscription a:hover {
	background-color: #a2b54f;
}
main .why-us {
	flex-basis: 50%;
	background-color: hsl(179, 47%, 52%);
}
main .why-us h2 {
	margin: 0 0 25px;
	color: white;
	font-size: 20px;
}
main .why-us p {
	line-height: 1.4;
	font-size: 16px;
	color: #ffffffad;
	margin-top: 0;
}
footer {
	position: absolute;
	bottom: 0;
}
@media (max-width:767px) {
	main {
		margin: 50px 15px 100px;
		border-radius: 5px;
	}
	main .box {
		padding: 25px;
	}
	main  .join {

	}
	main  .join p {
		font-size: 15px;
	}
	main  .subscription {
		flex-basis: 100%;
	}
	main .why-us {
		flex-basis: 100%;
	}
}